#mainHeader {
    color: rgba(13, 238, 5, 0.829);
    text-align: center;
    font-style: italic;    
}

body {
    background-color: rgb(141, 135, 135);
}

h2 {
    color: blue;
    font-style: oblique;
    text-decoration: underline;
}

p.paragraph {
    color: rgb(10, 10, 10);
    background-color: blue;
    margin: 5px 5px;
    padding: 5px 5px;    
}
img {
    border: 5px solid;      
}

/* class and id tags need to be added */